#navDiv
{
    text-align:center;
    border : 0px solid black;
     border-bottom : 1px solid black;
}

.navButton
{
    margin: 2vw;
    width: auto;
    height: 5vh;
    background-color: white;
    border : 1px solid black;
}